main{
    section{
        .contact{
            width: 60%;
            display: grid;
            grid-auto-columns: 80%;
            justify-content: center;
            align-content: center;
            margin: 2% 0 10%;
            transform: translate(35%, 0%);
    
            label{
                font-size: 2.5vh;
                margin: 3% 0;
            }

            input{
                margin-bottom: 5%;
                height: 100%;
                background-color: #f7c7c7;
                border: none;
                border-radius: 10px;
                padding: 0 20px;
                font-size: 2.5vh;
                :hover{
                    filter: opacity(0.8);
                    border-color: none;
                }
            }

            textarea{
                background-color: #f7c7c7;
                border: none;
                border-radius: 10px;
                padding: 20px;
                font-size: 2vh;
            }

            .btn{
                width: 60%;
                justify-content: center;
                align-content: center;
                align-self: center;
                border-radius: 20px;
                margin: 5% 10% 5% 10%;
                padding: 2% 0;
                font-size: 1.5rem;
                background-color: var(--fontColor);
            } 
            
            .btn:hover{
                filter:brightness(1.2);
            }
        }   
    }
}